*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}
.wrapper{
    width: 800px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
h1{
    color: rgb(54, 83, 109);
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
input{
    width: 50px;
    height: 20px;
    padding: 2px;
    outline: none;
    border: none;
}
button{
    border: none;
    background-color: rgb(29, 121, 202);
    height: 20px;
    border-radius: 3px;
    width: 80px;
    font-size: 11px;
}
button:active{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 19px;
}